#section1{
    background-image: url("../images/london.jpeg");
}

#section2{
    background-image: url("../images/boston.jpg");
}

#section3{
    background-image: url(../images/courtmacsherry.jpeg);
}

.section{
    text-align: center;
    color: white;
}